<footer id="footer-container">
    <div class="row container" id="footer-container-area">

        <div class="col-md-3 product">
            <h3>产品</h3>
            <ul>
                <li><a class="tracker " href="/pc-download"  data-tracker-action="Click">查看</a></li>
                <li><a href="/features">团队特色</a></li>
                <li><a href="/compare">团队展示</a></li>
                <li><a href="/partners/">展示资料</a></li>
                <li><a href="/business">商业团队</a></li>
            </ul>
        </div>
        <div class="col-md-3 support">
            <h3>支持</h3>
            <ul>
                <li><a href="https://support.sugarsync.com/hc/en-us" rel="ext">帮助中心</a></li>
                <li><a href="https://www.sugarsync.com/cskb/User_Guide/SugarSync_User's_Guide.pdf">立即开启</a></li>
                <li><a href="/faq/referral_program.html">推荐计划</a></li>
                <li><a href="/faq-pages">常见问题解答</a></li>
            </ul>
        </div>

        <div class="col-md-3 partner">
            <h3>合作伙伴</h3>
            <ul>
                <li><a href="/affiliateprogram/">联盟计划</a></li>
                <li><a href="/reseller/">经销商项目</a></li>
                <li><a href="/developer">开发人员端口</a></li>
                <li><a href="http://support.sugarsync.com" rel="ext">支持</a></li>
            </ul>
        </div>

        <div class="col-md-3 connect">
            <h3>联系我们</h3>
            <ul class="social">
                <li class="facebook"><a href="http://facebook.com/sugarsync/" rel="ext">Facebook</a></li>
                <li class="twitter"><a href="http://twitter.com/sugarsync/" rel="ext">Twitter</a></li>
                <li class="youtube"><a href="http://youtube.com/sugarsyncvideo/" rel="ext">YouTube</a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/company/167686" rel="ext">LinkedIn</a></li>
            </ul>
        </div>
    </div><!-- .row -->
    <div class="row">
        <div class="copyright">&copy; 2017  成都师范学院</div>
    </div>
</footer>