<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="menu-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">切换导航</span>
                <!--.sr-only是 除了屏幕阅读器外，其他设备上隐藏该元素，这个是用于屏幕阅读器的，帮助残障人士更好的访问网站。-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">教师培训系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="row">
                <div class="col-lg-6 header-search">
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="Search for...">-->
                        <!--<span class="input-group-btn">-->
       									 <!--<button class="btn btn-default" type="button">Go!</button>-->
      								<!--</span>-->
                    <!--</div>-->
                </div>
                <%
                if(login){
                %>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>欢迎您！<%= username %></a></li>
                    <li><a href="userInfo">设置个人资料</a></li>
                </ul>
                <%
                }else{
                %>
                <ul class="nav navbar-nav">
                    <li <%if(active=="首页"){%> class="active" <%}%>>
                        <a href="/">官网详情</a>
                    </li>
                    <li <%if(active=="管理员登录"){%> class="active" <%}%>>
                        <a href="/managerLogin">管理员登录</a>
                    </li>
                    <li <%if(active=="注册"){%> class="active" <%}%>>
                        <a href="/regist">注册</a>
                    </li>
                    <li <%if(active=="登录"){%> class="active" <%}%>>
                        <a href="/login">登录</a>
                    </li>
                    <li <%if(active=="404"){%> class="active" <%}%>>
                        <a href="/404">404页面</a>
                    </li>
                </ul>
                <%
                }
                %>
            </div>
        </div>
    </div>
</div>