<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>message</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/message.css" />
	</head>
	<body class="message">
		<% include header.ejs%>
		<div class="container">
			<div class="message-area">
				<ol class="breadcrumb">
					<li>
						<a href="#">当前位置：</a>
					</li>
					<li>
						<a href="/">主页</a>
					</li>
					<li className="active">培训记录
						<span class="badge">5</span>
					</li>
				</ol>
			</div>
			<div class="message-detail-area">
				<ul class="nav nav-tabs">
				  <li role="presentation" class="active">
				  	<a href="#tab1" data-toggle="tab">您的培训记录</a>
				  </li>
				  <li role="presentation">
				  	<a href="#tab2" data-toggle="tab">系统消息
						<span class="badgeinfo"></span>
					</a>
				  </li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane row-fluid active" id="tab1">
						<div class="list-group">
							<button type="button" class="list-group-item">您暂时没有参加任何培训~</button>
						</div>
					</div>
					<div class="tab-pane row-fluid" id="tab2">
						<div class="list-group">
							<button type="button" class="list-group-item">童浩老师录制的《操作系统1》视频培训
								<span class="badge">未读</span>
							</button>
							<button type="button" class="list-group-item">童浩老师录制的《操作系统2》视频培训
								<span class="badge">未读</span>
							</button>
							<button type="button" class="list-group-item">童浩老师录制的《操作系统3》视频培训
								<span class="badge">未读</span>
							</button>
							<button type="button" class="list-group-item">童浩老师录制的《操作系统4》视频培训
								<span class="badge">未读</span>
							</button>
							<button type="button" class="list-group-item">java web培训视频已经录制成功了~
								<span class="badge">未读</span>
							</button>
							<button type="button" class="list-group-item">安全守则培训资料出来啦~</button>
							<button type="button" class="list-group-item">安全守则培训资料出来啦~</button>
							<button type="button" class="list-group-item">安全守则培训资料出来啦~</button>
							<button type="button" class="list-group-item">安全守则培训资料出来啦~</button>
						</div>
					</div>
				</div>
				<nav aria-label="...">
					<ul class="pagination">
						<li class="disabled">
							<a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
						</li>
						<li class="active">
							<a href="#">1 <span class="sr-only">(current)</span></a>
						</li>
						<li class="disabled">
							<a href="#" >2 <span class="sr-only">(current)</span></a>
						</li>
						<li class="disabled">
							<a href="#">3<span class="sr-only">(current)</span></a>
						</li>
						<li class="disabled">
							<a href="#">4 <span class="sr-only">(current)</span></a>
						</li>
						<li class="disabled">
							<a href="#">5<span class="sr-only">(current)</span></a>
						</li>
						<li class="disabled">
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<hr class="divider task-divider" />
			<div class="summary">
				<footer>
					<p class="pull-right">
						<a href="#top">回到顶部</a>
					</p>
					<p class="pull-left">&copy; 成都师范学院</p>
				</footer>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</body>
</html>
