<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>taskArea</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/table.css" />
		<script type="text/javascript" src="js/Chart.min.js"></script>
		<style>
			canvas {
				float: left;
			}
		</style>
	</head>

	<body>
    <% include header.ejs%>
		<div class="container">
			<div class="table-all-area">
				<div class="message-area">
					<ol class="breadcrumb">
						<li>
							<a href="#">当前位置：</a>
						</li>
						<li>
							<a href="#">主页</a>
						</li>
						<li class="active">
							<a href="#">报表情况</a>
						</li>
					</ol>
				</div>
				<div class="canvas-area" style="width:1100px;height:470px; margin: 0 auto;">
					<canvas id="line" height="450" width="600"></canvas>
					<canvas id="canvas" height="450" width="450"></canvas>
				</div>
					<table class="table table-bordered">
					<tr>
						<th>日期</th>
						<th>教师姓名</th>
						<th>教师工号</th>
						<th>当日学习时长</th>
						<th>培训科目</th>
						<th>总学习时长</th>
						<th>操作</th>
					</tr>
					<tr>
						<td>2017年2月10日</td>
						<td>哈利</td>
						<td>15310920205</td>
						<td>1小时10分</td>
						<td>安全守则</td>
						<td>35小时</td>
						<td>
							<a>查看详情</a>	
						</td>
					</tr>
					<tr>
						<td>2017年2月10日</td>
						<td>哈利</td>
						<td>15310920205</td>
						<td>1小时10分</td>
						<td>安全守则</td>
						<td>35小时</td>
						<td>
							<a>查看详情</a>	
						</td>
					</tr>
					<tr>
						<td>2017年2月10日</td>
						<td>哈利</td>
						<td>15310920205</td>
						<td>1小时10分</td>
						<td>安全守则</td>
						<td>35小时</td>
						<td>
							<a>查看详情</a>	
						</td>
					</tr>
			</table>
			</div>
			<hr class="divider task-divider" />
			<div class="container summary">
				<footer>
					<p class="pull-right">
						<a href="#top">回到顶部</a>
					</p>
					<p class="pull-left">&copy; 成都师范学院</p>
				</footer>
			</div>
		</div>

		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script>
			var lineChartData = {
				labels: ["", "", "", "", "", "", "","","","","",""],
				datasets: [{
						fillColor: "rgba(220,220,220,0.5)",
						strokeColor: "rgba(220,220,220,1)",
						pointColor: "rgba(220,220,220,1)",
						pointStrokeColor: "#fff",
						data: [65, 59, 50, 81, 56, 55, 40,20,21,44,21,3]
					},
					{
						fillColor: "rgba(151,187,205,0.5)",
						strokeColor: "rgba(151,187,205,1)",
						pointColor: "rgba(151,187,205,1)",
						pointStrokeColor: "#fff",
						data: [28, 48, 40, 19, 96, 27, 50,32,10,43,67,2]
					},
				]

			};
			var chartData = [{
					value: Math.random(),
					color: "#D97041"
				},
				{
					value: Math.random(),
					color: "#C7604C"
				},
				{
					value: Math.random(),
					color: "#21323D"
				},
				{
					value: Math.random(),
					color: "#9D9B7F"
				},
				{
					value: Math.random(),
					color: "#7D4F6D"
				},
				{
					value: Math.random(),
					color: "#584A5E"
				}
			];
			var radarChartData = {
				labels: ["", "", "", "", "", "", ""],
				datasets: [{
						fillColor: "rgba(220,220,220,0.5)",
						strokeColor: "rgba(220,220,220,1)",
						pointColor: "rgba(220,220,220,1)",
						pointStrokeColor: "#fff",
						data: [65, 59, 90, 81, 56, 55, 40]
					},
					{
						fillColor: "rgba(151,187,205,0.5)",
						strokeColor: "rgba(151,187,205,1)",
						pointColor: "rgba(151,187,205,1)",
						pointStrokeColor: "#fff",
						data: [28, 48, 40, 19, 96, 27, 100]
					}
				]

			};
			var doughnutData = [{
					value: 30,
					color: "#F7464A"
				},
				{
					value: 50,
					color: "#46BFBD"
				},
				{
					value: 100,
					color: "#FDB45C"
				},
				{
					value: 40,
					color: "#949FB1"
				},
				{
					value: 120,
					color: "#4D5360"
				}

			];

			var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
			new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
			//			new Chart(document.getElementById("radar").getContext("2d")).Radar(radarChartData);
		</script>
	</body>

</html>