<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>taskArea</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/taskArea.css" />
	</head>

	<body>
    <% include header.ejs%>
		<div class="container">
			<div class="task-area">
				<div class="message-area">
					<ol class="breadcrumb">
						<li>
							<a href="#">当前位置：</a>
						</li>
						<li>
							<a href="/">主页</a>
						</li>
						<li class="active">
							<a href="#">课程管理</a>
						</li>
					</ol>
				</div>
				<hr class="divider task-divider" />
				<div class="lesson-area">
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail">
								<img src="img/lesson-img.jpg" alt="...">
								<div class="caption">
									<h3>JS实现京东无延迟菜单效果</h3>
									<p class="lesson-detail">JS模拟京东商城无延迟菜单效果，学习菜单结构和样式处理</p>
									<p>
										<a href="http://www.imooc.com/learn/829" class="btn btn-success role="button">进入学习</a>
										<!--<a href="#" class="btn btn-default" role="button">加入</a>-->
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail">
								<img src="img/lesson-img.jpg" alt="...">
								<div class="caption">
									<h3>JS实现京东无延迟菜单效果</h3>
									<p class="lesson-detail">JS模拟京东商城无延迟菜单效果，学习菜单结构和样式处理</p>
									<p>
										<a href="#" class="btn btn-success role="button">进入学习</a>
										<!--<a href="#" class="btn btn-default" role="button">加入</a>-->
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail">
								<img src="img/lesson-img.jpg" alt="...">
								<div class="caption">
									<h3>JS实现京东无延迟菜单效果</h3>
									<p class="lesson-detail">JS模拟京东商城无延迟菜单效果，学习菜单结构和样式处理</p>
									<p>
										<a href="#" class="btn btn-success role="button">进入学习</a>
										<!--<a href="#" class="btn btn-default" role="button">加入</a>-->
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail">
								<img src="img/lesson-img.jpg" alt="...">
								<div class="caption">
									<h3>JS实现京东无延迟菜单效果</h3>
									<p class="lesson-detail">JS模拟京东商城无延迟菜单效果，学习菜单结构和样式处理</p>
									<p>
										<a href="#" class="btn btn-success role="button">进入学习</a>
										<!--<a href="#" class="btn btn-default" role="button">加入</a>-->
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail">
								<img src="img/lesson-img.jpg" alt="...">
								<div class="caption">
									<h3>JS实现京东无延迟菜单效果</h3>
									<p class="lesson-detail">JS模拟京东商城无延迟菜单效果，学习菜单结构和样式处理</p>
									<p>
										<a href="#" class="btn btn-success role="button">进入学习</a>
										<!--<a href="#" class="btn btn-default" role="button">加入</a>-->
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail">
								<img src="img/lesson-img.jpg" alt="...">
								<div class="caption">
									<h3>JS实现京东无延迟菜单效果</h3>
									<p class="lesson-detail">JS模拟京东商城无延迟菜单效果，学习菜单结构和样式处理</p>
									<p>
										<a href="#" class="btn btn-success role="button">进入学习</a>
										<!--<a href="#" class="btn btn-default" role="button">加入</a>-->
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail">
								<img src="img/lesson-img.jpg" alt="...">
								<div class="caption">
									<h3>JS实现京东无延迟菜单效果</h3>
									<p class="lesson-detail">JS模拟京东商城无延迟菜单效果，学习菜单结构和样式处理</p>
									<p>
										<a href="#" class="btn btn-success role="button">进入学习</a>
										<!--<a href="#" class="btn btn-default" role="button">加入</a>-->
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="thumbnail">
								<img src="img/lesson-img.jpg" alt="...">
								<div class="caption">
									<h3>JS实现京东无延迟菜单效果</h3>
									<p class="lesson-detail">JS模拟京东商城无延迟菜单效果，学习菜单结构和样式处理</p>
									<p>
										<a href="#" class="btn btn-success role="button">进入学习</a>
										<!--<a href="#" class="btn btn-default" role="button">加入</a>-->
									</p>
								</div>
							</div>
						</div>
						<nav aria-label="...">
					<ul class="pagination">
						<li class="disabled">
							<a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
						</li>
						<li class="active">
							<a href="#">1 <span class="sr-only">(current)</span></a>
						</li>
						<li class="">
							<a href="#">2 <span class="sr-only">(current)</span></a>
						</li>
						<li class="">
							<a href="#">3<span class="sr-only">(current)</span></a>
						</li>
						<li class="">
							<a href="#">4 <span class="sr-only">(current)</span></a>
						</li>
						<li class="">
							<a href="#">5<span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
					</div>
					
				</div>
				<div class="container summary">
					<footer>
						<p class="pull-right">
							<a href="#top">回到顶部</a>
						</p>
						<p class="pull-left">&copy; 成都师范学院</p>
					</footer>
				</div>
			</div>

		</div>

		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</body>

</html>