<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>用户个人资料</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/user-info.css" />
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="/js/underscore-noflect.js"></script>
	</head>

	<body class="user-info">
    <% include header.ejs%>
		<div class="container">
			<div class="message-area">
				<ol class="breadcrumb">
					<li>
						<a href="#">当前位置：</a>
					</li>
					<li>
						<a href="/">主页</a>
					</li>
					<li className="active">
						<a href="#">个人信息</a>
					</li>
				</ol>
			</div>
			<div class="message-detail-area">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active">
						<a href="#tab1" data-toggle="tab">个人信息
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane row-fluid active" id="tab1">
						<div class="list-group">
							<form class="form-horizontal" id="userinfotable">
								<div class="form-group">
									<label for="input" class="col-sm-2 control-label">账户名</label>
									<div class="col-sm-10">
										<input id="dengluming" type="text" class="form-control" disabled placeholder="" value="<%= username %>">
									</div>
								</div>
							</form>
							<div class="confirmBtn">
								<button id="updataBtn" class="btn btn-success modify-btn" type="submit">修改资料</button>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<hr class="divider task-divider" />
			<div class="summary">
				<footer>
					<p class="pull-right">
						<a href="#top">回到顶部</a>
					</p>
					<p class="pull-left">&copy; 成都师范学院</p>
				</footer>
			</div>
		</div>
		<script type="text/template" id="moban">
			<div class="form-group">
				<label for="input" class="col-sm-2 control-label">教师工号</label>
				<div class="col-sm-10">
					<input id="teacherId" type="text" class="form-control"  value="{{=teacherId}}" placeholder="请输入您的教师工号">
				</div>
			</div>
			<div class="form-group">
				<label for="input" class="col-sm-2 control-label">学校名称</label>
				<div class="col-sm-10">
					<input id="colleageName" type="text" class="form-control"  value="{{=collegeName}}" placeholder="请输入您所在学校名称">
				</div>
			</div>
			<div class="form-group">
				<label for="input" class="col-sm-2 control-label">联系电话</label>
				<div class="col-sm-10">
					<input id="telNum" type="text" class="form-control"  value="{{=telNum}}" placeholder="请输入您的联系电话">
				</div>
			</div>
			<div class="form-group">
				<label for="input" class="col-sm-2 control-label">性别</label>
				<div class="col-sm-10">
					<input id="sex" type="text" class="form-control"  value="{{=sex}}" placeholder="请输入您的性别">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">所授课程</label>
				<div class="col-sm-10">
					<input id="lesson" type="text" class="form-control"  value="{{=lesson}}" placeholder="请输入您所授课程">
				</div>
			</div>
		</script>
		<script type="text/javascript">

			//得到模板
			var $userinfotable=$("#userinfotable");
			//得到模板函数
			var compiled=_.template($("#moban").html());
			var dengluming=$("#dengluming").val();

//            $('body').append(_.template($('#tpl').html(), data));
			console.log(dengluming);
			//请求数据
//            getPage(0);
            //请求分页的说说信息
                //将现在的页面内容清除
                $.ajax({
                    "url": "/showuserinfo?dengluming=" + dengluming,
                    "type": "get",
                    "success": function (result) {
                        console.log(result[0]);
                        var htmlstring = compiled(result[0]);
                        //添加DOM
                        $("#userinfotable").append($(htmlstring));
                    }
                });

			//用ajax提交表单
			$("#updataBtn").click(function () {
			    console.log("点击更新按钮！");
				$.get("/updata",{
				    "dengluming":$("#dengluming").val(),
					"teacherId":$("#teacherId").val(),
					"collegeName":$("#colleageName").val(),
					"telNum":$("#telNum").val(),
					"sex":$("#sex").val(),
					"lesson":$("#lesson").val()
				},function (result) {
					if(result=="1"){
					    alert("修改成功！，将自动跳转到首页");
                        window.location = "/";
					}else{
                        alert("修改失败！，将自动跳转到首页");
                        window.location = "/";
					}
                })
            });

		</script>
	</body>

</html>