.navbar .container .navbar-collapse .header-search {
  margin-top: 8px;
  margin-left: 43px;
}
.navbar .container .navbar-collapse .navbar-nav {
  float: right;
}
.container .task-area-title {
  font-size: 15px;
  font-family: 微软雅黑;
}
.container .task-area-title .info-img {
  width: 30px;
  height: 30px;
}
.container .row .task-area {
  text-align: center;
  height: 317px;
}
.container .row .task-area .img-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
body {
				padding-top: 50px;
				padding-bottom: 40px;
				font-family: "微软雅黑";
			}
			
			/*广告轮播*/
			
			.carousel {
				height: 500px;
				margin-bottom: 20px;
			}
			
			.carousel .item {
				height: 500px;
				background-color: #000000;
			}
			
			.carousel .item img {
				width: 100%;
				height: 600px;
			}
			/*简介*/
			
			.summary {
				padding: 2px 15px;
			}
			
			.summary .col-md-4 {
				text-align: center;
			}
			/*hr*/
			
			hr .divider {
				margin: 40px 0;
			}
			/*feature*/
			
			.feature {
				padding: 30px 0;
			}
			
			.feature-heading {
				font-size: 50px;
				color: #2A6496;
			}
			
			.feature-heading .text-muted {
				font-size: 28px;
			}
			/* 响应式布局 */
			
			@media (max-width: 768px) {
				.summary {
					padding-right: 3px;
					padding-left: 3px;
				}
				.carousel {
					height: 300px;
					margin-bottom: 30px;
				}
				.carousel .item {
					height: 300px;
				}
				.carousel img {
					min-height: 300px;
				}
				.carousel-caption p {
					font-size: 16px;
					line-height: 1.4;
				}
				.feature-heading {
					font-size: 34px;
				}
				.feature-heading .text-muted {
					font-size: 22px;
				}
			}
			
			@media (min-width: 992px) {
				.feature-heading {
					margin-top: 120px;
				}
			}