/*position*/
.position{
    padding-top: 80px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.navbar {
    font-family: "微软雅黑";
}
.navbar .user-info {
    float: right;
}
.navbar .user-info .breadcrumb {
    margin-bottom: 0;
    margin-top: 8px;
    background-color: #222222;
}
.navbar .user-info .breadcrumb li a {
    color: #9E9E9E;
    text-decoration: none;
}
.navbar .user-info .breadcrumb li a:hover {
    color: white;
}
.navbar .user-info .breadcrumb li:before {
    color: #9E9E9E;
}
.navbar .user-info .breadcrumb > .active {
    font-size: 15px;
}
.navbar .user-info .breadcrumb > .active a {
    color: white;
}
.search-content {
    width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
}
.search-content .row .add-teacher {
    padding: 5px;
    font-family: 微软雅黑;
    font-size: 17px;
    padding-left: 40px;
}
.search-content .history-task-record {
    margin-bottom: 110px;
}
.search-content .history-task-record .title {
    font-size: 22px;
    font-family: 微软雅黑;
    padding-top: 20px;
    padding-bottom: 10px;
}
.search-content .history-task-record nav {
    float: right;
}
.search-content .history-task-record nav .pagination > li a,
.search-content .history-task-record nav .pagination > li span {
    color: #607D8B;
}
.search-content .history-task-record nav .pagination > .active > a {
    border-color: #5CB85C;
    background-color: #5CB85C;
    color: white;
}
.task-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(158, 158, 158, 0.54);
}
table th,table td{
    padding: 0;
    border: 1px solid #ddd;
    text-align: center;
    padding: 7px 5px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-family: 微软雅黑;
}
table tr:hover{
    background-color: #F5F5F5;
}
table th{
    font-size: 15px;
    padding: 10px 5px;
}