.navbar {
  font-family: "微软雅黑";
}
.navbar .user-info {
  float: right;
}
.navbar .user-info .breadcrumb {
  margin-bottom: 0;
  margin-top: 8px;
  background-color: #222222;
}
.navbar .user-info .breadcrumb li a {
  color: #9E9E9E;
  text-decoration: none;
}
.navbar .user-info .breadcrumb li a:hover {
  color: white;
}
.navbar .user-info .breadcrumb li:before {
  color: #9E9E9E;
}
.navbar .user-info .breadcrumb > .active {
  font-size: 15px;
}
.navbar .user-info .breadcrumb > .active a {
  color: white;
}
.search-content {
  width: 1140px;
  margin: 0 auto;
  margin-top: 80px;
}
.search-content .message-area {
  margin-top: 77px;
}
.search-content .message-area a {
  color: black;
  font-family: 微软雅黑;
  cursor: pointer;
}
.search-content .message-area span {
  background-color: #D12610;
  padding: 3px 7px 2px 7px;
}
.search-content .message-area .breadcrumb > li + li:before {
  color: black;
}
.search-content .row .add-teacher {
  padding: 5px;
  font-family: 微软雅黑;
  font-size: 17px;
  padding-left: 40px;
}
.search-content .history-task-record {
  margin-bottom: 110px;
}
.search-content .history-task-record .title {
  font-size: 22px;
  font-family: 微软雅黑;
  padding-top: 20px;
  padding-bottom: 10px;
}
.search-content .history-task-record table tr th,
.search-content .history-task-record table tr td {
  text-align: center;
}
.search-content .history-task-record nav {
  float: right;
}
.search-content .history-task-record nav .pagination > li a,
.search-content .history-task-record nav .pagination > li span {
  color: #607D8B;
}
.search-content .history-task-record nav .pagination > .active > a {
  color: white;
}
.task-divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid rgba(158, 158, 158, 0.54);
}
@media (max-width: 520px) {
  .search-content {
    width: 95%;
    margin-top: 40px;
    font-size: 12px;
  }
  .search-content .history-task-record {
    margin-top: -20px;
  }
}
a {
  cursor: pointer;
}
