@import 'userHeader';

.search-content {
    width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
     .message-area {
            margin-top: 77px;
            a {
                color: black;
                font-family: 微软雅黑;
            }
            span {
                background-color: #D12610;
                padding: 3px 7px 2px 7px;
            }
            .breadcrumb>li+li:before {
                color: black;
            }
        }
    .row {
        .add-teacher {
            padding: 5px;
            font-family: 微软雅黑;
            font-size: 17px;
            padding-left: 40px;
        }
    }
    .history-task-record {
        margin-bottom: 110px;
    .title {
        font-size: 22px;
        font-family: 微软雅黑;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    table {
        tr {
            th,
            td {
                text-align: center;
            }
        }
    }
    nav {
        float: right;
        .pagination {
            &>li {
                a,
                span {
                    color: #607D8B;
                }
            }
            &>.active {
                &>a {
                    border-color: #5CB85C;
                    background-color: #5CB85C;
                    color: white;
                }
            }
        }
    }
}
}
.task-divider{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(158, 158, 158, 0.54);
}
@media (max-width:520px) {
    .search-content {
        width: 95%;
        margin-top: 40px;
        font-size: 12px;
    }
    .search-content .history-task-record {
        margin-top: -20px;
    }
}